<template>
  <div class="lista-produtos-container">
    <h2>Lista de Produtos Eletrônicos</h2>

    <div class="produto-item">
      <h3>Smartphones</h3>
      <button @click="toggleOptions('showSmartphones')" class="botao-estilizado">Ver Opções</button>
      <ul v-if="showSmartphones">
        <li>iPhone 13 <button @click="addToCart('iPhone 13', 6999)" class="botao-estilizado">Adicionar</button></li>
        <li>Samsung Galaxy S22 <button @click="addToCart('Samsung Galaxy S22', 6499)" class="botao-estilizado">Adicionar</button></li>
        <li>Google Pixel 6 <button @click="addToCart('Google Pixel 6', 5999)" class="botao-estilizado">Adicionar</button></li>
        <li>OnePlus 10 Pro <button @click="addToCart('OnePlus 10 Pro', 5799)" class="botao-estilizado">Adicionar</button></li>
      </ul>
    </div>

    <div class="produto-item">
      <h3>Laptops</h3>
      <button @click="toggleOptions('showLaptops')" class="botao-estilizado">Ver Opções</button>
      <ul v-if="showLaptops">
        <li>MacBook Pro 2023 <button @click="addToCart('MacBook Pro 2023', 14999)" class="botao-estilizado">Adicionar</button></li>
        <li>Dell XPS 17 <button @click="addToCart('Dell XPS 17', 11999)" class="botao-estilizado">Adicionar</button></li>
        <li>Asus ROG Zephyrus G15 <button @click="addToCart('Asus ROG Zephyrus G15', 9999)" class="botao-estilizado">Adicionar</button></li>
      </ul>
    </div>

    <div class="carrinho">
      <h2>Carrinho</h2>
      <ul>
        <li v-for="(item, index) in cart" :key="index">
          {{ item.name }} - R${{ item.price }}
          <button @click="removeFromCart(index)" class="botao-estilizado">Remover</button>
        </li>
      </ul>
      <p>Valor Total do Pedido: R${{ total }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data() {
    return {
      showSmartphones: false,
      showLaptops: false,
      total: 0,
      cart: [],
    };
  },
  methods: {
    toggleOptions(option) {
      this[option] = !this[option];
    },
    addToCart(itemName, price) {
      this.cart.push({ name: itemName, price: price });
      this.total += price;
    },
    removeFromCart(index) {
      const item = this.cart[index];
      this.total -= item.price;
      this.cart.splice(index, 1);
    },
  },
};
</script>

<style scoped>
/* Estilos específicos do componente Menu */
</style>
